---
layout: base
---

  <div class="container blog-post">
    <article>
      <header>
        <div class="row">
          <div class="col-xs-12">
            <h2 class="blog-post-title">{{ page.title }}</h2>
          </div>
        </div>
      </header>
      <section>
        <div class="row">
          <div class="col-xs-12">
            <hr/>
            <p class="blog-post-meta"><i class="fa fa-calendar"></i> {{ page.date | date_to_string }}</p>

            {{ content }}
          </div>
        </div>
      </section>
    </article>
    {% include _social.html %}
  </div>
